html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Board
        link(rel="stylesheet", href="/main.css")
        link(rel="stylesheet", href="/board.css")
    body
        include ../partials/header.pug
        .content
            include ../partials/sidebar.pug
            include ../partials/threads.pug
            include ../partials/rightbar.pug

        include ../partials/footer.pug
