html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Board
        link(rel="stylesheet", href="/main.css")
    body
        h2 Board
        includes ../partials/header.pug

        .content
            includes ../partials/sidebar.pug
            includes ../partials/threads.pug
            includes ../paritals/rightbar.pug

        indludes ../partials/footer.pug
