html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landchan
        link(rel="stylesheet", href="/main.css")
        link(rel="stylesheet", href="/index.css")
        link(rel="stylesheet", href="/form.css")
    body
        include ../partials/header

        .index
            include ../partials/boards

        include ../partials/footer
