html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landchan 
        link(rel="stylesheet", href="/main.css")
    body 
        include ../assets/header
        if isLoged
            p the user is loged in
        else
            p the user is not loged
        include ../assets/footer