html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landchan
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/index.css")
        link(rel="stylesheet", href="/css/form.css")
    body
        include ../partials/header


        .index
            .about
                h3 About Tochi
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum consequatur esse numquam magnam asperiores, saepe corporis rem sint quidem quae sapiente omnis eligendi dolores. Voluptates enim provident repellendus repudiandae saepe?
            include ../partials/boards
            .misc
                .trending
                .stats

        include ../partials/footer
