html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landchan 
        link(rel="stylesheet", href="/main.css")
        link(rel="stylesheet", href="/index.css")
    body 
        include ../partials/header
        .index
            div(class='channels sidebar')
                ul(class='category int')
                    h3 International
                    li(class='board-list', id='news') > News
                    li(class='board-list', id='lang') > Language
                    li(class='board-list', id='trav') > Travel
                ul(class='category tech')
                    h3 Technology
                    li(class='board-list', id='tchnews') Tech News
                    li(class='board-list', id='os') Operating Systems
                    li(class='board-list', id='prog') Programming
                ul(class='category ent')
                    h3 Entertainment 
                    li(class='board-list', id='news') Movies
                    li(class='board-list', id='news') TV Shows
                    li(class='board-list', id='news') Anime and Manga
        
            include ../partials/board

        include ../partials/footer