html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Register
        link(rel="stylesheet", href="/main.css")
    body 
        include ../assets/header.pug
        h2 Register
        form(action="/user/add-user", method="post")
            ul
                li
                    label(for="username") username
                    input(type="text" name="username" id="username")
                li
                    label(for="password") password
                    input(type="password" name="password" id="password")
                li
                    button(type="submit" class="btn register") Register
        include ../assets/footer.pug