html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet", href="/main.css")
    body 
        include ../partials/header.pug
        .auth-container
            h1 Login
            form(action="/userLogin", method="post")
                ul.auth-form
                    li
                        label(for="username") Username
                        br
                        input(type="text" name="username" id="username")
                    li
                        label(for="password") Password
                        br
                        input(type="password" name="password" id="password")
                    li 
                        button(type="submit" class="btn log-in") Log-in
        
        include ../partials/footer.pug