html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Register
        link(rel="stylesheet", href="/main.css")
    body 
        include ../assets/header.pug
        .auth-container
            h1 Register
            form(action="/user/add-user", method="post")
                ul.auth-form
                    li
                        label(for="username") username
                        br
                        input(type="text" name="username" id="username")
                    li
                        label(for="password") password
                        br
                        input(type="password" name="password" id="password")
                    li
                        button(type="submit" class="btn register") Register
        include ../assets/footer.pug