html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Register
        link(rel="stylesheet", href="/main.css")
        link(rel="stylesheet", href="/form.css")
        script(type='text/javascript', src='/form-validation.js', defer)
    body 
        include ../partials/header.pug
        .auth-container
            h1 Register
            form(action="/user/add-user", method="post")
                ul.auth-form
                    li
                        label(for="username") Username*
                        br
                        span(class='error', id='usernameError')
                        input(type="text" name="username" id="username", required, minLength='5', maxLength='18', pattern='[A-Za-z0-9]+')
                    li
                        label(for="password") Password*
                        br
                        span(class='error', id='passwordError')
                        input(type="password" name="password" id="password", required, minLength='8', maxLength='32', pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[^\\w\\s]).{8,}$')
                    li
                        button(type="submit" class="btn register") Register
        include ../partials/footer.pug