html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title User Settings
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/user-settings.css")
    body
        include ../partials/header.pug
        h1 User settings

        form(action="/user/change-avatar", method="post" enctype="multipart/form-data", class='upload-form')
          label(for="images") Avatar
          input(type="file" name="avatar" accept='image/*')
          button(type="submit") Change
          img(src=`/avatar/${user.avatar}`, alt="pfp", class='avatar-large')
