.board
    .thread(id='01')
        h4 title 
        img(src="uploads/avatars/avatar-1748456220130-35977950.jpg", alt="", class="board-image")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum consequatur esse numquam magnam asperiores, saepe corporis rem sint quidem quae sapiente omnis eligendi dolores. Voluptates enim provident repellendus repudiandae saepe?
        button Show Thread
    .thread(id='02')
        h4 title 
        img(src="uploads/avatars/avatar-1748457697245-165734989.webp", alt="", class="board-image")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum consequatur esse numquam magnam asperiores, saepe corporis rem sint quidem quae sapiente omnis eligendi dolores. Voluptates enim provident repellendus repudiandae saepe?
        button Show Thread   
    .thread(id='03')
        h4 title 
        img(src="uploads/avatars/avatar-1748456220130-35977950.jpg", alt="", class="board-image")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum consequatur esse numquam magnam asperiores, saepe corporis rem sint quidem quae sapiente omnis eligendi dolores. Voluptates enim provident repellendus repudiandae saepe?
        button Show Thread
    .thread(id='04')
        h4 title 
        img(src="uploads/avatars/avatar-1748457697245-165734989.webp", alt="", class="board-image")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum consequatur esse numquam magnam asperiores, saepe corporis rem sint quidem quae sapiente omnis eligendi dolores. Voluptates enim provident repellendus repudiandae saepe?
        button Show Thread
    
    .pages
        a(href="") [1]
        a(href="") [2]
        a(href="") [3]
        a(href="") [4]
        a(href="") [5]
        a(href="") [6]