header 
    a(href="/"): h1.header-title Landchan
    .auth-buttons
       -if (isLoged==true)
        a(href="/user/user-settings"): img(src=`/uploads/avatars/${user.avatar}`, alt="avatar", class='avatar-small')
        a(href="/user/user-settings"): h3 #{user.username}
        form(action="/user/log-out", method="post"): button(type="submit", class='btn') Log-out
       -else if (current_path !== '/register' && current_path !== '/login' && isLoged!==true)
        a(href="/user/register" class="btn register") Register
        a(href="/user/login" class="btn log-in") Log-in
       -else if (current_path !== '/register' && isLoged!==true)
        a(href="/user/register" class="btn register") Register
       -else if (current_path !== '/login' && isLoged!==true)
        a(href="/user/login" class="btn log-in") Log-in