div(class='utility')
    search(class='search-section')
        form(action='/board/search', method='get')
            label(for='search-board') Search Board
            input(type='search', id='search-board', name='search-board')
            button(type='submit', class='btn') Search
