script(src='/show-dialog.js', defer)
.board
    h2 Rules: #{board.rules}
    .thread(id='01')
        h4 title
        img(src="uploads/avatars/avatar-1748456220130-35977950.jpg", alt="", class="board-image")
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum consequatur esse numquam magnam asperiores, saepe corporis rem sint quidem quae sapiente omnis eligendi dolores. Voluptates enim provident repellendus repudiandae saepe?
        button(class='btn btn-large') Show Thread


    button(type='button',class='btn btn-large' ,id='show-create-thread-form') Create a new Thread
    dialog(class='create-thread dialog')
        form(method='post')
            ul
                li
                    label(for='create-thread-title') Title
                    input(type='text', name='title', id='create-thread-title')
                li
                    label(for='create-thread-content') Content
                    textarea(name='content', id='create-thread-content', rows="10")
                li
                    label(for='images') Images
                    input(type='file', name='images', id='create-thread-images', accept='image/*', multiple)
            button(type='submit', class='btn') Submit


    .pages
        a(href="") [1]
        a(href="") [2]
        a(href="") [3]
        a(href="") [4]
        a(href="") [5]
        a(href="") [6]
