.error.active + input {
    background-color: rgb(254, 203, 203);
}
.error.active + input:focus {
    border-color: red;
}
.error.active {
    font-size: small;
}

li {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}
fieldset {
    padding: 16px;
}
