@import url("palette.css");

.index {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.board-list {
    padding-left: 16px;
}

.boards {
    grid-column: 2/3;
    grid-row: 2/3;
    box-shadow: 1px 1px 3px grey;
    background-color: var(--jet);
    padding: 32px;
    min-height: 400px;
    min-width: 800px;
    h3 {
        color: var(--silver);
    }
    a {
        color: var(--platinum);
        display: block;
        max-width: max-content;
    }
    a:hover {
        text-decoration: underline;
        color: var(--coral);
    }
}

.about {
    margin: 32px;
    grid-column: 2/3;
    text-align: center;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 16px;
}

.misc {
    margin: 32px;
    grid-column: 2/3;
    grid-row: 3/4;
    height: 500px;
    width: 800px;
    background-color: dimgrey;
}
