@import url("palette.css");
@import url("fonts.css");
* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    font-family: var(--primary-font);
    flex-direction: column;
    min-height: 100vh;
    color: var(--font);
    background-color: var(--background);
}

header {
    padding: 8px;
    position: sticky;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    background-color: var(--secondary);
    border-bottom: solid 1px grey;
    box-shadow: 1px 1px 1px grey;
}
.auth-buttons {
    display: flex;
    align-items: center;
    h3 {
        color: var(--font-accent);
    }
}
.header-title {
    grid-column: 2/3;
    text-align: center;
    color: var(--font);
    text-shadow: 1px 1px 1px grey;
}
.btn {
    border: 1px solid black;
    padding: 8px;
    margin: 10px;

    cursor: pointer;

    background-color: var(--accent-1);
    width: 80px;
    color: var(--font);
    text-align: center;
}
.btn:hover {
    background-color: var(--font-accent);
}
.btn-large {
    width: auto;
}
.register {
    color: rgb(169, 0, 0);
    font-weight: bold;
}
footer {
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    margin-top: auto;
}
#copyright {
    color: gre2y;
}

input,
textarea {
    padding: 8px;
    margin: 8px;
    border-width: 2px;
    border-color: grey;
    border-style: solid;
    outline: none;
}
input:focus {
    border-color: black;
}
.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    max-width: 200px;
}
label {
    font-weight: bold;
}

.avatar-small {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 16px;
    margin-left: 16px;
}
.avatar-large {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 32px;
}
.board-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 32px;
}
.search-section {
    margin: 32px;
}
